<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>什麼是間歇性斷食？</string>
	<string>間歇性斷食如何運作？</string>
	<string>斷食有哪些好處？</string>
	<string>我適合斷食嗎？</string>
	<string>間歇性斷食健康嗎？</string>
	<string>如何為斷食做準備？</string>
	<string>我應該斷食多長時間？</string>
	<string>斷食期間可以進食或飲用哪些食物？</string>
	<string>如何終止斷食？</string>
	<string>非斷食期可以吃什麼？</string>
</array>
</plist>
